@import url('https://fonts.googleapis.com/css2?family=Kufam&family=Roboto+Slab:wght@400;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #1e2761;
    color: #e5e5dc;
    font-family: 'Kufam', cursive;
}

#nav {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 4rem;
    background-color: rgba(122, 32, 73, .6);
    color: #e5e5dc;
}

.nav_anchors {
    color: #e5e5dc;
}

.nav_anchors:hover {
    color:  #e5e5dc;
    opacity: .6;
}

#navbar_title {
    font-family: 'Roboto Slab', sans-serif;
    padding-top: 0px;
    padding-bottom: 6px;
    font-weight: 700;
}

#navbar_title:hover {
    opacity: 1;
}

#icons_container {
    width: 4%;
    text-align: center;
    opacity: .5;
    position: fixed;
    top: 41%;
    left: 0;
    font-size: 190%;
    padding: .4rem 0 0 0;
}

#icons_container i:hover {
    opacity: .6;
}

.buttons {
    font-family: 'Roboto Slab', sans-serif;
    background-color: #7a2048;
    text-transform: capitalize;
    color: #e5e5dc;
}

.buttons:hover {
    background-color: #e5e5dc;
    color: #7a2048;
}

.dropdown-menu {
    width: 13.5rem;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 105%;
    background-color: #e5e5dc;
    color: #7a2048;
    text-align: center;
}

.dropdown-menu a {
    color: #7a2048;
}

.dropdown-menu a:hover {
    background-color: #7a2048;
    color: #e5e5dc;
}

.main_action_buttons {
    text-align: center;
}

.main-action {
    margin-top: 2rem;
}

/* home page starts here */

#home_container {
    overflow: hidden;
}

@keyframes photo-zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}

#home {
    background-image: url(../images/blue_universe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    animation-name: photo-zoom;
	animation-duration: 5s;
	animation-fill-mode: forwards;
    overflow: hidden;
}

#title_area {
    position: absolute;
    bottom: 39%;
    left: 30%;
}

#title_container {
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    color: #e5e5dc;
}

#title {
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 3rem;
}

#sub_title {
    text-transform: capitalize;
    letter-spacing: .5rem;
    margin-top: 2rem;
}

#home_action_button {
    margin-top: 1.7rem;
    width: 10rem;
    height: 2.5rem;
    font-size: 1.3rem;
    padding-top: 0;
}

#detailed {
    text-align: center;
}

/* exoplanets.html page starts here */

.image_holder {
    height: 15rem;
    overflow: hidden;
}

.zoom_image {
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.zoom_image:hover {
    transform: scale(1.2);
}

#exoplanet_page_title_container {
    text-align: center;
    margin-top: 1.5rem;
}

.title_exoplanet_page {
    letter-spacing: .5rem;
    text-transform: uppercase;
    font-family: 'Roboto Slab', sans-serif;
}

.exoplanets_holder {
    border: 1px solid #1d1e1f;
    margin: 2rem 0;
    background-color: #408ec6;
}

#exoplanet_name {
    margin-top: 5%;
}

.separator {
    margin: .5rem;
}

.exoplanet_properties {
    margin-top: 5%;
    padding-left: .5rem;
    letter-spacing: .2rem;
}

.exoplanets_display_buttons {
    color: #e5e5dc;
    font-size: 84%;
    width: 4.5rem;
    height: 2rem;
    text-align: center;
}

.top_buttons {
    width: 13.5rem;
    font-size: 105%;
    height: 2rem;
}

.centered_buttons {
    text-align: center;
    height: 2.8rem;
}

#add_exoplanet_message {
    text-align: center;
    border: 3px solid #408ec6;
    background-color: #7a2048;
    color: #e5e5dc;
    width: 70%;
    margin: auto;
    font-size: 120%;
    letter-spacing: .2rem;
}

#add_exoplanet_message p {
    padding: 1.8rem;
    margin-bottom: 0;
}

#add_exoplanet_message a {
    color: #e5e5dc;
    font-weight: 700;
    font-style: italic;
}

#add_exoplanet_message a:hover {
    text-decoration: none;
    opacity: .6;
}

/* about.html page starts here */

#quote {
    margin-bottom: .1rem;
    letter-spacing: .2rem;
}

#quote_author {
    font-weight: 700;
    letter-spacing: .1rem;
}

#about_text_container {
    margin-top: 2rem;
    margin-bottom: 8%;
}

#about_text {
    width: 80%;
    border: 3px solid #408ec6;
    background-color: #7a2048;
    color: #e5e5dc;
    margin: 0 auto;
    font-size: 130%;
}

#about_text p {
    padding: 1.5rem;
}

/* already_favourite messsage page starts here */

#message_container {
    margin-top: 20%;
}

.message {
    background-color: #7a2048;
    border: 2.5px solid #408ec6;
    width: 51.5rem;
    height: 5rem;
    color: #e5e5dc;
    padding-top: 1.5rem;
    margin: auto;
    text-transform: capitalize;
    font-size: 120%;
    letter-spacing: .1rem;
}

.action_buttons {
    font-size: 110%;
    width: 10rem;
    height: 2.5rem;
    margin: 0 1rem;
}

/* not_added.html page starts here */

#not_added_message {
    height: 7.5rem;
    text-transform: none;
}

/* add_favourites.html page starts here */

#add_favourites_message {
    width: 50%;
    height: 10rem;
    border: 3px solid #408ec6;
    background-color: #7a2048;
    color: #e5e5dc;
    margin: 0 auto; 
    margin-top: 5rem;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
}

#add_favourites_message p {
    padding: 2.5rem 1rem;
}

.exoplanets_display_buttons {
    color: #e5e5dc;
    font-size: 84%;
    width: 8rem;
    height: 2rem;
    text-align: center;
}

.favourites_display_buttons {
    width: 4.5rem;
}

/* detailed_exoplanet page starts here */

#detailed_exoplanet_container {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

#detailed_exoplanet_title {
    text-align: center;
    margin-top: 1.5rem;
}

#exoplanet_display {
    margin-top: 2rem;
}

.detailed {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #1d1e1f;
}

.properties_container {
    text-align: center;
}

#detailed_properties {
    background-color: #408ec6;
    font-size: 135%;
    letter-spacing: .2rem; 
}

.detailed_separator {
    margin: 1.5rem 2rem;
}

/* calculate_weight.html page starts here */

#enter_weight_container {
    margin-top: 15rem;
    text-align: center;
}

#your_weight {
    width: 15rem;
    margin: 0 auto;
}

#calculate_action_button {
    border: 0;
    width: 15rem;
    height: 2.5rem;
    letter-spacing: .1rem;
    font-size: 120%;
}

/* exoplanet_weight.html page starts here */

@keyframes weight-zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.8);
	}
}

#weight_message {
    width: 30%;
    text-align: center;
    font-size: 80%;
    background-color:  #7a2048;
    border: 5px solid #408ec6;
    padding-top: 19px;
    margin: 0 auto;
    animation-name: weight-zoom;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

#weight_buttons_container {
    text-align: center;
}

.weight_buttons {
    width: 10rem;
    height: 2.6rem;
    margin: 0 2.5%;
}

/* add_exoplanet.html page starts here */

#form_container {
    width: 30rem;
    margin: 0 auto;
    border: 1px solid #1d1e1f;
    background-color: #408ec6;
}

#form_container div {
    margin-bottom: .5rem;
}

.input_planet {
    background-color: #408ec6;
    color: #e5e5dc;
    border: 0;
    font-size: 120%;
    letter-spacing: .2rem;
    height: 3rem;
    text-align: center;
    opacity: .8;
}

.input_planet:focus {
    background-color: #408ec6;
    color: #e5e5dc;
    text-align: center;
}

.input_planet::placeholder {
    color: #e5e5dc; 
    text-align: center;
    
}

select {
    text-align-last: center;
}

#planet_name {
    margin-top: .7rem;
}

#add_button {
    margin-top: 0;
    width: 29.9rem;
    height: 3.6rem;
    border: 0;
    border-radius: 0;
    font-size: 130%;
    letter-spacing: .2rem;
}

#guide {
    width: 30rem;
    height: 28.175rem;
    background-color: #7a2048;
    color: #e5e5dc;
    border: 5px solid #408ec6;
    margin: 0 auto; 
    padding-top: 3.5%;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: .1rem;
    overflow: scroll;
}

#accordionExample {
    margin-top: 5%;
}

.card {
    background-color: #408ec6;
    color: #e5e5dc;
    border-radius: 0; 
    margin: 1rem;
}

.guide_text {
    color: #e5e5dc;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.guide_text:hover {
    text-decoration: none;
    color: #e5e5dc;
    opacity: .6;
}

.card-body {
   letter-spacing: .09rem;
}

#exoplanets_link {
    text-align: center;
    margin-top: 24%;
}

#exoplanets_anchor {
    font-style: italic;
    color: #e5e5dc;
    text-transform: lowercase;
    font-size: 90%;
}

#inserting_the_mass a {
    color: #e5e5dc;
    font-size: 700;
    font-style: italic;
    text-decoration: underline;
}

#inserting_the_mass a:hover {
   opacity: .6;
}

/* mass_photo.html starts here */

#photo_container {
    width: 90%;
    height: 35rem;
    margin: 0 auto;
}

#mass_photo {
    background-image: url(../images/mass_photo/mass_photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#photo_action_button {
    margin: 6rem 0 2rem 0;
    text-align: center;
}
















