@import url('https://fonts.googleapis.com/css2?family=Kufam&family=Roboto+Slab:wght@400;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #1e2761;
    color: #e5e5dc;
    font-family: 'Kufam', cursive;
}

#nav {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
}

.buttons {
    font-family: 'Roboto Slab', sans-serif;
    background-color: #7a2048;
    text-transform: capitalize;
}

/* home page starts here */

@keyframes photo-zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}

#home {
    background-image: url(../images/blue_universe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    animation-name: photo-zoom;
	animation-duration: 5s;
	animation-fill-mode: forwards;
    overflow: hidden;
}

#title_container {
    text-align: center;
    margin-top: 20%;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    color: #e5e5dc;
}

#title {
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 3rem;
}

#sub_title {
    text-transform: capitalize;
    letter-spacing: .5rem;
    margin-top: 2rem;
}

#home_action_button {
    margin-top: 1.7rem;
    width: 10rem;
    height: 2.5rem;
    font-size: 1.3rem;
    padding-top: 0;
    color: #e5e5dc;
}


#detailed {
    text-align: center;
}

/* exoplanets.html section starts here */

#exoplanets_container {
   margin-top: 5rem;
}

#title_exoplanet_page {
    letter-spacing: .5rem;
    text-transform: uppercase;
    font-family: 'Roboto Slab', sans-serif;
}

.exoplanets_holder {
    border: 1px solid #1d1e1f;
    margin-bottom: 2rem;
    background-color: #408ec6;
}

#exoplanet_name {
    margin-top: 5%;
}

.separator {
    margin: .5rem;
}

.exoplanet_properties {
    margin-top: 5%;
    padding-left: .5rem;
    letter-spacing: .2rem;
}

.exoplanets_display_buttons {
    color: #e5e5dc;
    font-size: 84%;
    width: 8rem;
    height: 2rem;
    text-align: center;
}

.centered_buttons {
    text-align: center;
    height: 2.8rem;
}

/* already_favourite messsage page starts here */

#message_container {
    margin-top: 20%;
}

#message {
    background-color: #7a2048;
    border: 2px solid #408ec6;
    width: 45rem;
    height: 5rem;
    color: #e5e5dc;
    padding-top: 1.5rem;
    margin: auto;
    text-align: center;
}

.action_buttons {
    background-color: #7a2048;
    color: #e5e5dc;
    font-size: 84%;
    width: 10rem;
    height: 2.5rem;
    text-align: center;
    padding-top: .4rem;
    margin: 0 1rem;
}

/* detailed_exoplanet page starts here */

#detailed_exoplanet_container {
    margin-top: 5rem;
}

#detailed_exoplanet_title {
    text-align: center;
}

#exoplanet_display {
    margin-top: 2rem;
}

#properties_container {
    width: 50%;
    height: 100%;
    margin: auto;
    border: 1px solid #408ec6;
}





