{% extends 'base.html' %}
{% block content %}
<div style="margin-top:5rem" class="container">
	<div class="row">
		<div id="exoplanet_page_title_container" class="col-12">
			<h1 class="title_exoplanet_page">exoplanets</h1>
		</div>
	</div>
	<div class="row main-action">
		<div class="col-6 main_action_buttons">
			<a href="{{ url_for('exoplanets_display') }}"><button class="top_buttons buttons">main list</button></a>
		</div>
		<div class="col-6 main_action_buttons">
			<a href="{{ url_for('favourite_list') }}"><button class="top_buttons buttons">favourites</button></a>
		</div>
	</div>
	</div>
	{% endblock %}