{% extends 'base.html' %}
{% block content %}
  {% for favourite_exoplanet in favourite_exoplanets %}
    {{ favourite_exoplanet.planet_name }}<br>
    {{ favourite_exoplanet.discovery_date }}<br>
    {{ favourite_exoplanet.distance_from_earth}}<br>
    {{ favourite_exoplanet.type}}<br>
    {{ favourite_exoplanet.star_system}}<br>
    {{ favourite_exoplanet.mass}}<br>
    {{ favourite_exoplanet.thoughts}}
    <a href="{{ url_for('delete_favourite', exoplanet_id=favourite_exoplanet._id)}}">Delete From Favourites</a><br>
{% endfor %}
{% endblock %}