{% extends 'base.html' %}
{% block content %}
<div style="margin-top:5rem" class="container">
	<div class="row">
		<div id="exoplanet_page_title_container" class="col-12">
			<h1 class="top-titles">favourites list</h1>
		</div>
	</div>
	<div class="row main-action">
		<div class="col-3 main_action_buttons">
			<a href="{{ url_for('favourite_rocky_planets') }}">
				<button class="buttons top_buttons">rocky</button>
			</a>
		</div>
		<div class="col-3 main_action_buttons">
			<a href="{{ url_for('exoplanets_display') }}">
				<button class="buttons top_buttons">main list</button>
			</a>
		</div>
		<div class="col-3 main_action_buttons">
			<a href="{{ url_for('favourite_gas_giants') }}">
				<button class="buttons top_buttons">gas giants</button>
			</a>
		</div>
		<div class="col-3 dropdown">
			<button style="padding-top:.1rem" class="dropdown-toggle top_buttons buttons" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    sort by size
  </button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="{{ url_for('small_to_large_favourites') }}">Small To Large</a>
				<a class="dropdown-item" href="{{ url_for('large_to_small_favourites') }}">Large To Small</a>
			</div>
		</div>
	</div>
	<div id="empty_message" class="row">
		<div class="col-12">
			<div id="add_favourites_message">
				<p>this list is currently empty.</p>
			</div>
		</div>
	</div>
	<div class="row">
		{% for favourite_exoplanet in favourite_exoplanets %}
		<div class="col-12 col-md-6 col-lg-4">
			<div class="exoplanets_holder">
				<div class="image_holder">
					<img class="zoom_image" src="{{favourite_exoplanet.exoplanet_image}}" width="100%" height="100%" alt="">
                </div>
					<p id="exoplanet_name" class="exoplanet_properties">
						<strong>{{favourite_exoplanet.planet_name}}</strong>
					</p>
					<hr class="separator">
					<p class="exoplanet_properties"><strong>Type:</strong> {{favourite_exoplanet.type}}</p>
					<hr class="separator">
					<p class="exoplanet_properties"><strong>Star System:</strong> {{favourite_exoplanet.star_system}}
					</p>
					<hr class="separator">
					<div class="centered_buttons">
						<a
							href="{{ url_for('delete_favourite', exoplanet_id=favourite_exoplanet._id)}}"><button class="favourites_display_buttons exoplanets_display_buttons buttons">Delete</button></a>
						<a
							href="{{ url_for('favourite_detailed', exoplanet_id=favourite_exoplanet._id) }}"><button class="favourites_display_buttons exoplanets_display_buttons buttons">Details</button></a>
						<a
							href="{{ url_for('calculate_weight', exoplanet_id=favourite_exoplanet._id) }}"><button class="favourites_display_buttons exoplanets_display_buttons buttons">calculate</button></a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endblock %}