<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
	<title>Other Worlds</title>
</head>

<body>
	<nav id="nav" class="navbar navbar-expand-lg">
		<a id="navbar_title" class="navbar-brand nav_anchors" href="{{ url_for('home') }}">OTHER WORLDS</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
		<div style="width:100%;" class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link nav_anchors" href="{{ url_for('about') }}">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav_anchors" href="{{ url_for('exoplanets_display') }}">Main List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav_anchors" href="{{ url_for('favourite_list') }}">Favourites List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav_anchors" href="{{ url_for('insert_exoplanet') }}">Add Exoplanet</a>
				</li>
			</ul>
                {% if session.user %}
                <ul class="nav navbar-nav navbar-right ml-auto">
                <li class="nav-item">
					<a class="nav-link nav_anchors" href="{{ url_for('profile', username=session['user']) }}">Profile</a>
				</li>
                <li class="nav-item">
					<a class="nav-link nav_anchors" href="{{ url_for('logout') }}">Log Out</a>
				</li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right ml-auto">
				<li id="register-nav" class="nav-item">
					<a class="nav-link nav_anchors" href="{{ url_for('register') }}">Register</a>
				</li>
                <li id="login-nav" class="nav-item">
					<a class="nav-link nav_anchors" href="{{ url_for('login') }}">Log In</a>
				</li>
                </ul>
                {% endif %}
		</div>
	</nav>

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<div style="max-width: 100vw;" class="row">
		<div id="registration-message-container" class="col-12">
			<div>
				{{ message }}
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}

	<div id="icons_container" class="col-12 d-none d-sm-block">
		<i class="fab fa-facebook-square"></i><br>
		<i class="fab fa-instagram"></i><br>
		<i class="fab fa-youtube-square"></i><br>
		<i class="fab fa-twitter-square"></i>
	</div>
	{% block content %}
	{% endblock %}
</body>

{% include 'layout/scripts.html' %}

</html>