{% extends 'base.html' %}
{% block content %}
<div id="detailed_exoplanet_container" class="container margin">
	<div class="row">
		<div id="detailed_exoplanet_title" class="col-12">
			<h1 class="top-titles">{{ detailed_exoplanet.planet_name }}</h1>
		</div>
	</div>
	<div id="exoplanet_display" class="row">
		<div class="col-12">
			<div class="detailed {{ detailed_exoplanet.exoplanet_image }}">
			</div>
		</div>
	</div>
	<div id="detailed_container" class="row">
		<div class="col-12 properties_container">
			<div id="detailed_properties" class="detailed">
				<p style="padding-top:2rem;">Name: {{ detailed_exoplanet.planet_name }}</p>
				<hr class="detailed_separator">
				<p>Discovery date: {{ detailed_exoplanet.discovery_date }}</p>
				<hr class="detailed_separator">
				<p>Distance From Earth: {{ detailed_exoplanet.distance_from_earth }} light years</p>
				<hr class="detailed_separator">
				<p>Type: {{ detailed_exoplanet.type }}</p>
				<hr class="detailed_separator">
				<p>Star System: {{ detailed_exoplanet.star_system }}</p>
				<hr class="detailed_separator">
				<p>Mass: {{ detailed_exoplanet.mass }} Earth mass</p>
				<hr class="detailed_separator">
				<div style="padding-bottom:1.5rem">
					<a id="detailed-anchor"
						href="{{ url_for('favourites', exoplanet_id=detailed_exoplanet._id)}}"
						id="margin-left"><button class="buttons detailed-action">add favourites</button></a>
					<a style="margin-right:2rem;"
						href="{{ url_for('calculateWeight', exoplanet_mass=detailed_exoplanet.mass, exoplanet_name=detailed_exoplanet.planet_name, exoplanet_id=detailed_exoplanet._id) }}"
						id="margin-left"><button class="buttons detailed-action">calculate weight</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}