{% extends 'base.html' %}
{% block content %}
<div id="detailed_exoplanet_container" class="container">
	<div class="row">
		<div id="detailed_exoplanet_title" class="col-12">
			<h1>{{ detailed_exoplanet.planet_name }}</h1>
		</div>
	</div>
	<div id="exoplanet_display" class="row">
		<div class="col-12">
			<div class="detailed">
				<img src="{{ detailed_exoplanet.exoplanet_image }}" width="100%" height="100%" alt="">
				</div>
			</div>
		</div>
		<div style="margin-top:1.5rem" class="row">
			<div class="col-12 properties_container">
				<div id="detailed_properties" class="detailed">
					<p style="padding-top:2rem;">Name: {{ detailed_exoplanet.planet_name }}</p>
                    <hr class="detailed_separator">
					<p>Discovery date: {{ detailed_exoplanet.discovery_date }}</p>
                    <hr class="detailed_separator">
					<p>Distance From Earth: {{ detailed_exoplanet.distance_from_earth }} light years</p>
                    <hr class="detailed_separator">
					<p>Type: {{ detailed_exoplanet.type }}</p>
                    <hr class="detailed_separator">
					<p>Star System: {{ detailed_exoplanet.star_system }}</p>
                    <hr class="detailed_separator">
					<p>Mass: {{ detailed_exoplanet.mass }} Earth mass</p>
                    <hr class="detailed_separator">
                    <div style="padding-bottom:1.5rem">
                <a href="{{ url_for('add_favourites', exoplanet_id=detailed_exoplanet._id)}}"
							id="margin-left"><button class="buttons">Add Favourites</button></a>
                <a href="{{ url_for('add_favourites', exoplanet_id=detailed_exoplanet._id)}}"
							id="margin-left"><button class="buttons">Add Favourites</button></a>
                </div>
				</div>
                
			</div>
		</div>
	</div>
	{% endblock %}