{% extends 'base.html' %}
{% block content %}

<div style="margin-top:15rem" class="container">
	<div class="row">
		<div class="col-12">
        <div id="weight_message">
			<p>On the surface of {{ exoplanet_name }} you weight<br>
             {{ your_weightExoplanet }} kg.</p>
        </div>
		</div>
	</div>
    <div style="margin-top:5rem" class="row">
    <div id="weight_buttons_container" class="col-12">
    <a
				href="{{ url_for('calculate_weight', exoplanet_id=exoplanet_id) }}"><button class="weight_buttons buttons">again</button></a>
    
    <a
				href="{{ url_for('favourite_list') }}"><button class="weight_buttons buttons">favourites</button></a>
    
    
    <a
				href="{{ url_for('detailed_exoplanet', exoplanet_id=exoplanet_id) }}"><button class="weight_buttons buttons">details</button></a>
    
    </div>
</div>
</div>

{% endblock %}