{% extends 'base.html' %}
{% block content %}
   <div>
   <a href="{{ url_for('rocky_planets') }}">Rocky Planets</a>
   <a href="{{ url_for('gas_giants_planets') }}">Gas Giants</a>
   <a href="{{ url_for('favourite_list') }}">Favourites List</a>
   </div>
    {% for exoplanet in exoplanets %}
        <div>{{exoplanet.planet_name}}<br>
             {{exoplanet.discovery_date}}<br>
             {{exoplanet.distance_from_earth}}<br>
             {{exoplanet.type}}<br>
             {{exoplanet.star_system}}<br>
             {{exoplanet.mass}}<br>
             {{exoplanet.thoughts}}<br>
             <a href="{{ url_for('add_favourites', exoplanet_id=exoplanet._id)}}">Add To Favourites</a>
        </div>
    {% endfor %}
{% endblock %}