{% extends 'base.html' %}
{% block content %}

<div style="margin-top: 15rem" class="container">
	<div class="row">
		<div class="col-12">
        <div id="weight_message">
			<p>On the surface of {{ exoplanet_name }} you weight<br>
             {{ your_weightExoplanet }} kg.</p>
        </div>
		</div>
	</div>
    <div style="margin-top:4rem" class="row">
    <div id="again_button" class="col-3">
    <a
				href="#"><button class="weight_buttons buttons">again</button></a>
    </div>
    <div id="favourites_button" class="col-3">
    <a
				href="{{ url_for('favourite_list') }}"><button class="weight_buttons buttons">favourites</button></a>
    </div>
    <div id="exoplanet_button" class="col-3">
    <a
				href="#"><button class="weight_buttons buttons">favourites</button></a>
    </div>
    </div>
</div>

{% endblock %}