{% extends 'base.html' %}
{% block content %}
   <div>
   <a href="{{ url_for('rocky_planets') }}">Rocky Planets</a>
   <a href="{{ url_for('gas_giants_planets') }}">Gas Giants</a>
   <a href="{{ url_for('add_exoplanet') }}">Add Exoplanet</a>
   </div>
   <div id="exoplanets_container" class="container">
   <div id="exoplanets_title" class="row">
   <div class="col-12">
   <h1>exoplanets</h1>
   </div>
   </div>
    <div class="row">
    {% for exoplanet in exoplanets %}
        <div class="col-4">
       <div class="exoplanets_holder">
             <img src="{{exoplanet.exoplanet_image}}" width="100%" height="70%" alt=""><br>
             <p>name: {{exoplanet.planet_name}}</p><hr class="separator">
             <p>discovery date: {{exoplanet.discovery_date}}</p><hr class="separator">
             <p>distance from earth: {{exoplanet.distance_from_earth}} light years</p><hr class="separator">
             <p>type: {{exoplanet.type}}</p><hr class="separator">
             <p>start system: {{exoplanet.star_system}}</p><hr class="separator">
             <p>mass: {{exoplanet.mass}} earth masses</p><hr class="separator">
             <p>your thoughts: {{exoplanet.thoughts}}<br><hr class="separator">
             <a href="{{ url_for('add_favourites', exoplanet_id=exoplanet._id)}}">Add To Favourites</a>
             <a href="{{ url_for('detailed_exoplanet', exoplanet_id=exoplanet._id) }}">Details</a>
       </div>
        </div>
        <hr>
    {% endfor %}
    </div>
   </div>
{% endblock %}