{% extends 'base.html' %}
{% block content %}
<div>
  <a href="{{ url_for('exoplanets_display') }}">Exoplanets</a>
  <a href="{{ url_for('favourite_gas_giants') }}">Gas Giants</a>
</div>
<div class="container">
<div class="row">
{% for rocky_planet in rocky_planets %}
    <div class="col-3">
    {{ rocky_planet.planet_name }}<br>
    {{ rocky_planet.discovery_date }}<br>
    {{ rocky_planet.distance_from_earth}}<br>
    {{ rocky_planet.type}}<br>
    {{ rocky_planet.star_system}}<br>
    {{ rocky_planet.mass}}<br>
    {{ rocky_planet.thoughts}}<br>
    </div>
{% endfor %}
</div>
</div>
{% endblock %}