{% extends 'base.html' %}
{% block content %}
<div id="home_container" class="container-fluid">
	<div class="row">
		<div id="home" class="col-12"></div>
	</div>
	<div id="title_area" class="row">
		<div id="title_container" class="col-12">
			<h1 id="title">other worlds</h1>
			<h2 id="sub_title">brief guide to exoplanets</h2>
			<a href="{{ url_for('about') }}"><button id="home_action_button" class="buttons">about</button></a>
			<a href="{{ url_for('exoplanets_display') }}"><button id="home_action_button" class="buttons">exoplanets</button></a>
		</div>
	</div>
</div>
{% endblock %}