{% extends 'base.html' %}
{% block content %}
<div style="margin-top:5rem" class="container">
	<div class="row">
		<div style="text-align:center" class="col-12">
			<h1 class="title_exoplanet_page">exoplanets</h1>
		</div>
	</div>
	<div class="row main-action">
		<div class="col-3 main_action_buttons">
			<a href="{{ url_for('favourite_rocky_planets') }}">
				<button class="buttons top_buttons">favourites rocky worlds</button>
			</a>
		</div>
        <div class="col-3 main_action_buttons">
			<a href="{{ url_for('exoplanets_display') }}">
            <button class="buttons top_buttons">main list</button>
            </a>
		</div>
		<div class="col-3 main_action_buttons">
			<a href="{{ url_for('favourite_gas_giants') }}">
				<button class="buttons top_buttons">favourites gas giants</button>
			</a>
		</div>
        <div class="col-3 dropdown">
			<button style="padding-top:.1rem" class="dropdown-toggle top_buttons buttons" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    sort by size
  </button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="{{ url_for('small_to_large') }}">Small To Large</a>
				<a class="dropdown-item" href="{{ url_for('large_to_small') }}">Large To Small</a>
                <a class="dropdown-item" href="{{ url_for('exoplanets_display') }}">Default Display</a>
			</div>
		</div>
	</div>
	<div class="row">
		{% for exoplanet in larged_sized %}
		<div class="col-4">
			<div class="exoplanets_holder">
				<div class="image_holder">
					<img class="zoom_image" src="{{ exoplanet.exoplanet_image }}" width="100%" height="100%" alt="">
                </div>
					<p id="exoplanet_name" class="exoplanet_properties"><strong>{{exoplanet.planet_name}}</strong></p>
					<hr class="separator">
					<p class="exoplanet_properties"><strong>Type:</strong> {{exoplanet.type}}</p>
					<hr class="separator">
					<p class="exoplanet_properties"><strong>Star System:</strong> {{exoplanet.star_system}} </p>
					<hr class="separator">
					<div class="centered_buttons">
						<a href="{{ url_for('add_favourites', exoplanet_id=exoplanet._id)}}"
							id="margin-left"><button id="favourite_button" class="exoplanets_display_buttons buttons">Add Favourites</button></a>
						<a href="{{ url_for('detailed_exoplanet', exoplanet_id=exoplanet._id) }}"
							id="float_right"><button class="exoplanets_display_buttons buttons">Details</button></a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endblock %}