{% extends 'base.html' %} {% block content %}
<div style="margin-top: 10rem;" class="container">
<div class="row margin">
<div style="text-align:center;" class="col-12">
<h1 id="login-title" class="top-titles">Log In</h1>
</div>
</div>
	<div class="row">
		<div class="col-12">
          <div id="login-container">
			<form method="POST" action="{{ url_for('login') }}">
				<div class="form-group">
					<label for="exampleInputEmail1">Username</label>
					<input
            type="text"
            class="form-control"
            name="username"
            pattern="^[a-zA-Z0-9]{5,15}$"
            required
          />
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
            pattern="^[a-zA-Z0-9]{5,15}$"
            required
          />
        </div>
					<button id="login-button" type="submit" class="btn btn-primary buttons">Log In</button>
			</form>
            </div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div id="register-container">
				<p>Not registered? Please <a href="{{ url_for('register') }}">register</a> now.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}