{% extends 'base.html' %}
{% block content %}
<div id="message_container" class="container">
	<div id="exoplanets_title" class="row">
		<div class="col-12">
			<div style="text-align:center">
				<p id="message">this planet needs to be added to favourites.</p>
                <div style="margin-top: 4rem;">
                <a href="{{ url_for('exoplanets_display') }}"><button class="action_buttons buttons">back</button></a>
                <a href="{{ url_for('favourite_list') }}"><button class="action_buttons buttons">favourites</button></a>
                </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}