{% extends 'base.html' %}
{% block content %}
<div id="message_container" class="container">
	<div id="exoplanets_title" class="row">
		<div class="col-12">
			<div style="text-align:center">
				<p id="not_added_message" class="message">{{ detailed_exoplanet.planet_name }} is not added to your favourites list.<br>Please add it to your Favourites List and then calculate your weight on the surface of this {{ detailed_exoplanet.type }} planet.</p>
                <div style="margin-top: 4rem;">
                <a href="{{ url_for('detailedExoplanet', exoplanet_id=detailed_exoplanet._id) }}"><button class="action_buttons buttons">back</button></a>
                <a href="{{ url_for('favourites', exoplanet_id=detailed_exoplanet._id)}}"><button class="action_buttons buttons">add favourites</button></a>
                </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}