{% extends 'base.html' %} {% block content %}
<div class="container">
	<div class="row">
		<div id="user-info" class="col-12">
            {% set numberRocky = users_rocky | int %}
            {% set numberGas = users_gas_giants | int %}
             {% set numberList = users_list | int %}
			<div style="padding-bottom:1rem;" class="info">
            <h4>{{ user }}'s Profile</h4>
             <hr class="guide-separator">
				<p>{{ user }}, you currently have {{ users_list }} {% if numberList == 1 %}
                                                                       exoplanet
                                                                    {% else %}
                                                                       explanets
                                                                    {% endif %}
                                                                     in your list.</p>
				<p>You have {{ users_rocky }} rocky {% if numberRocky == 1 %} 
                                                       planet 
                                                    {% else %}
                                                       planets
                                                    {% endif %}
                                                    and {{ users_gas_giants }} 
                                                    {% if numberGas == 1 %}
                                                       gas giant.
                                                    {% else %}
                                                       gas giants.
                                                    {% endif %}   
                                                    </p>
				<p>You can add some more from our <a href="{{ url_for('exoplanets_display') }}">main list</a> or add
					manually your favourite exoplanet discovered up to date.
			</div>
            <div style="margin-top:0; padding-top:0;" id="profile-button">
            <a
				href="{{ url_for('favourite_list', username=session['user']) }}"><button class="buttons">favourites</button></a>
            </div>
		</div>
	</div>
     <a href="{{ url_for('deleteprofile') }}">DELETE</a>
</div>
{% endblock %}