{% extends 'base.html' %}
{% block content %}
<div style="margin-top:5rem" class="container">
	<div class="row">
		<div id="exoplanet_page_title_container" class="col-12">
			<h1 class="title_exoplanet_page">rocky worlds</h1>
		</div>
	</div>
	<div class="row main-action">
		<div class="col-6 main_action_buttons">
			<a
				href="{{ url_for('exoplanets_display') }}"><button style="font-size:105%" class="top_buttons buttons">main list</button></a>
		</div>
		<div class="col-6 main_action_buttons">
			<a href="{{ url_for('gas_giants_planets') }}">
				<button style="font-size:105%" class="top_buttons buttons">gas giants</button>
			</a>
		</div>
	</div>
	<div class="row">
		{% for rocky_planet in rocky_planets %}
		<div class="col-4">
			<div class="exoplanets_holder">
				<div class="image_holder">
					<img class="zoom_image" src="{{ rocky_planet.exoplanet_image }}" width="100%" height="100%" alt="">
                </div>
				<p id="exoplanet_name" class="exoplanet_properties"><strong>{{rocky_planet.planet_name}}</strong></p>
				<hr class="separator">
				<p class="exoplanet_properties"><strong>Type:</strong> {{rocky_planet.type}}</p>
				<hr class="separator">
				<p class="exoplanet_properties"><strong>Star System:</strong> {{rocky_planet.star_system}}</p>
				<hr class="separator">
				<div class="centered_buttons">
					<a href="{{ url_for('add_favourites', exoplanet_id=rocky_planet._id)}}"
						id="margin-left"><button class="exoplanets_display_buttons buttons">Add Favourites</button></a>
					<a href="{{ url_for('detailed_exoplanet', exoplanet_id=rocky_planet._id) }}"
						id="float_right"><button class="exoplanets_display_buttons buttons">Details</button></a>
				</div>
			</div>
		</div>

		{% endfor %}
	</div>

</div>
{% endblock %}