{% extends 'base.html' %}
{% block content %}
<div class="main_container container">
	<div style="margin-top: 12rem" class="row">
		<div id="exoplanet_page_title_container" class="col-12">
        <div id="wrong_data">
            <h2>Oops! Wrong data inserted.</h2>
            <p id="wrong_data_info"><strong>{{ wrong_data }}</strong>.</p>
            <p>Please revise your form and submit again.<br>
            For guidance please check the guide on the right hand side of the form.</p>
		</div>
		</div>
	</div>
</div>
	{% endblock %}